@media screen and (max-width: 1200px) {

  .projects__main {
    top: 11rem !important
  }

  .projects {
    height: 13rem !important;
    width: 15rem !important;
  }


  .projects__main h2 {
    font-size: 18px !important;
  }

  .projects__main h4 {
    font-size: 14px !important;
  }

  .projects__main span {
    font-size: 12px !important;
  }

  .projects__button {
    font-size: 16px !important;
  }


  .projects__icons span {
    height: 0 !important;
  }
}

@media screen and (max-width: 1000px) {

  .sound__bar {
    display: none !important;
  }


  .about__container {
    overflow: scroll !important;
  }


  .about__right {
    margin-left: 4rem;
    justify-content: none;
    flex-direction: column;
  }

  .about__main {
    margin-top: 2rem;
    font-size: 14px !important;
    height: 95vh !important;
    justify-content: space-evenly !important;
  }

  .spaceman>img {
    position: unset;
    margin-top: 4rem;
    height: 300px !important;
    width: 200px;

  }


}

@media screen and (max-width: 700px) {
  .box {
    flex-direction: column;
    height: auto !important;
    overflow: scroll;
  }

  .box>.main__left {
    margin: 3em;
    height: 68vh;
  }

  .box>.main__right {
    margin: 3em;
    height: 68vh;
  }




}

@media screen and (max-width: 900px) {

  .blog {
    display: flex !important;
    flex-direction: column;
  }

  .blog__body {
    justify-content: start !important;
  }

  .blog__image {
    height: 4rem !important;
  }

  .blog__header {
    position: unset !important;
  }

  .blog__right {
    margin-left: 2rem;
  }

  .first__details {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 800px) {
  .yin_yang .prefix__svg-inline--fa {
    width: 200px !important;
  }

  h1, h3, h2 {
    font-size: 18px !important;
  }

  img {
    width: 200px !important;
    height: 250px !important;
  }

  .intro__content>h1 {
    font-size: 18px !important;
  }

  .intro__content>h3 {
    font-size: 16px !important;
  }

  .intro__content>p {
    font-size: 14px !important;
  }

  .center__bar>a {
    margin-top: 1rem;
  }

  .social__content span {
    height: 4rem !important;
  }
}