@media screen and (max-width: 1000px) {

  .projects__main {
    top: 11rem !important
  }

  .projects {
    height: 13rem !important;
    width: 15rem !important;
  }


  .projects__main h2, a {
    font-size: 18px !important;
  }

  .projects__main h4 {
    font-size: 14px !important;
  }

  .projects__main span {
    font-size: 12px !important;
  }

  .projects__button {
    font-size: 16px !important;
  }


  .projects__icons span {
    height: 0 !important;
  }
}

@media screen and (max-width: 1000px) {

  .sound__bar {
    display: none !important;
  }


  .about__container {
    overflow: scroll !important;
  }


  .about__right {

    margin-left: 4rem;
    justify-content: unset !important;
    flex-direction: column;
  }

  .about__main {
    height: 100vh !important;
    margin-top: 2rem;
    font-size: 14px !important;
    justify-content: space-evenly !important;
    margin-bottom: 4em;
  }

  .spaceman>img {
    position: relative;
    top: -5vh !important;
    height: auto !important;
    width: 200px;

  }


}

@media screen and (max-width: 700px) {
  .box {
    flex-direction: column;
    height: auto !important;
    overflow: scroll;
  }

  .box>.main__left {
    margin: 3em;
    height: 68vh;
  }

  .box>.main__right {
    margin: 3em;
    height: 68vh;
  }




}

@media screen and (max-width: 900px) {

  .blog {
    display: flex !important;
    flex-direction: column;
  }

  .blog__body {
    justify-content: start !important;
  }

  .blog__image {
    height: 4rem !important;
  }

  .blog__header {
    position: unset !important;
  }


  .first__details {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 800px) {
  .main__container h2, h3, h4, h5, h6 {

    font-size: 3vw !important;

  }

  .yinyang__clicked .prefix__svg-inline--fa {
    width: 75px !important;
    height: auto;
  }

  .yin_yang .prefix__svg-inline--fa {
    width: 25vw !important;
  }

  .intro__box {
    height: 60vh !important;
    display: flex;
    flex-direction: column !important;

    background: linear-gradient(to top,
        #FCF6F4 50%,
        #000000 50%) right,
      linear-gradient(to top,
        #FCF6F4 50%,
        #000000 50%) right !important;
  }

  .img__box {
    position: relative;
    display: flex;
    justify-content: center;
  }

  img {
    width: 125px !important;
    height: auto;
  }

  .intro__content>h1 {
    font-size: 18px !important;
  }

  .intro__content>h3 {
    font-size: 16px !important;
  }

  .intro__content>p {
    font-size: 14px !important;
  }

  .center__bar>a {
    margin-top: 1rem;
  }

  .social__content span {
    height: 7rem !important;
  }
}